.banner{
    background-color: #6278F7; /* Cor de fundo do banner */
    text-align: center; /* Centralizar o banner no centro */
}

.banner img {
    max-width: 100%; /* Deixar responsivo a imagem */
}